#AdventureJournalsPanel{
	margin-top: 30%;
	margin-bottom: 25%;
	width: 30%;
	height: 100%;
}

#AdventureJournals{
	margin-bottom: 10%;
	background-color: black;
	opacity: 0.95;
	background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #0000 ), color-stop(0.15, #000022dd), color-stop(0.85, #000022dd), color-stop(1.0, #00000000 ) );
	border-radius: 5px;
	padding: 8px;
	horizontal-align:center;
	width: 100%;
}

.AdventureJournalsContent{
	font-size: 20px;
	horizontal-align:center;
	text-align: center;
	text-overflow: shrink;
	color: white;
	white-space: normal;
}

#AdventureJournalsTitle{
	margin-top: 20px;
}

#AdventureJournalsTeamHint{
	margin-top: 90px;
	margin-right: 60%;
}

#AdventureJournalsTeamSelect{
	margin-top: 80px;
	margin-left: 10%;
}

#AdventureJournalsContent{
	flow-children: down;
	overflow: clip scroll;
	width: 100%;
	margin-top: 150px;
	margin-left: 20%;
	margin-right: 20%;
}

.AdventureJournalsText{
	text-overflow: shrink;
	border: 5px;
}

.AdventureJournalsTeam1{
	
}

.AdventureJournalsTeam2{
	
}

.AdventureJournalsTeam3{
	
}

.AdventureJournalsTeam4{
	
}

#AdventureJournalsButton{
	margin-top: 90%;
	margin-left: 0%;
	position: 3% 20px 0px;
}

#AdventureJournalsButton:hover{
	margin-top: 90%;
	margin-left: 0%;
	position: 3% 20px 0px;
}

#AdventureJournalsLabel{
	font-size:30px;
}
