#AuctionPanel{
	margin-top: 15%;
	margin-bottom: 15%;
	margin-left: 30%;
	margin-right: 30%;
	width: 100%;
	height: 100%;
	horizontal-align:center;
	opacity: 0.95;
}

#Auction{
	opacity: 0.99;
	background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #0000 ), color-stop(0.15, #000000ff), color-stop(0.85, #000000ff), color-stop(1.0, #00000000 ) );
	border-radius: 5px;
	padding: 8px;
	horizontal-align:center;
	width: 100%;
}

.AuctionContent{
	font-size: 20px;
	horizontal-align:center;
	text-align: center;
	text-overflow: shrink;
	color: white;
	white-space: normal;
}



#AuctionTitle{
	margin-top: 10%;
	font-size: 30;
}

#AuctionItemImage{
	margin-top: 20%;
	horizontal-align:center;
}

.AuctionItemImageImageSize{
	width:200px;
}

#AuctionItemName{
	margin-top: 45%;
}

#AuctionItemDescription{
	margin-top: 50%;
}

#AuctionItemTimeoutLabel{
	margin-top: 75%;
	margin-right: 5%;
}

#AuctionItemTimeout{
	margin-top: 75%;
	margin-left: 5%;
}

#AuctionItemCurrentPriceLabel{
	margin-top: 80%;
	margin-right: 5%;
}

#AuctionItemCurrentPrice{
	margin-top: 80%;
	margin-left: 5%;
}

#AuctionItemCurrentOwnerLabel{
	margin-top: 85%;
	margin-right: 10%;
}

#AuctionItemCurrentOwner{
	margin-top: 85%;
	margin-left: 10%;
}

#AuctionItemBusinessmanLabel{
	margin-top: 80%;
	margin-left: 15%;
	margin-right: 70%;
	width: 100%;
}

#AuctionItemBusinesswomanLabel{
	margin-top: 80%;
	margin-left: 70%;
	margin-right: 20%;
	width: 100%;
}

#AuctionItemBusinessmanName{
	margin-top: 85%;
	margin-left: 10%;
	margin-right: 70%;
	width: 100%;
}

#AuctionItemBusinessmanGold{
	margin-top: 85%;
	margin-left: 20%;
	margin-right: 65%;
	width: 100%;
}

#AuctionItemBusinesswomanName{
	margin-top: 85%;
	margin-left: 65%;
	margin-right: 20%;
	width: 100%;
}

#AuctionItemBusinesswomanGold{
	margin-top: 85%;
	margin-left: 70%;
	margin-right: 10%;
	width: 100%;
}

#AuctionButton{
	margin-top: 90%;
}

.AuctionButton{
	background-color: black;
}

.AuctionButton:hover{
	background-color: gray;
}