#CharacterSelectPanel{
	background-color: black;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 25%;
	margin-bottom: 25%;
	opacity: 0.95;
	width: 100%;
	height: 100%;
}

#CharacterSelect{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 100%;
	height: 100%;
}

#SelectHeroType{
	margin-top: 0%;
	horizontal-align:center;
	color: #FFCC00;
}

#Race{
	margin-top: 20%;
}

#RaceSelect{
	margin-top: 28%;
}

#AttackType{
	margin-top: 40%;
}

#AttackTypeSelect{
	margin-top: 48%;
}

#Model{
	margin-top: 60%;
}

#ModelSelect{
	margin-top: 68%;
}

.SelectCharacterDropDown{
	font-size: 30px;
	horizontal-align:center;
}

.SelectCharacterLabel{
	font-size: 30px;
	margin-left: 5%;
}

.SelectCharacterButtonLabel{
	font-size: 30px;
	horizontal-align:center;
}

.SelectCharacterButton {
	width: 200px;
	opacity: 1;
}

.SelectCharacterButton:hover {
	
}

#GetModelNamesButton {
	margin-top: 90%;
	margin-right: 60%;
}

#OKButton {
	margin-top: 90%;
	margin-left: 60%;
}


#btn{
	color: #066EFE;
	border: 2px solid #ECC700;
}

#btn:hover{
	color: #ECC700;
	border: 2px solid #066EFE;
}

@keyframes 'btnClickAnim'
{
	0%
	{
		transform: translateZ(-25px);
	}
	100%
	{

	}
}

.btnClick{
	animation-name:btnClickAnim;
	animation-duration:0.5s;
}

#label{
	margin-top: 80px;
}

#image{
	margin-top: 125px;
	width: 200px;
	height: 150px;
}

#entry{
	margin-top: 290px;
}

#drop{
	margin-top: 320px;
}

#toggleBtn_1{
	margin-top: 440px;
}
#toggleBtn_2{
	margin-top: 470px;
}

#RadioBtn{
	margin-top: 500px;
}