.AutoChessShopItemLabelColor_consumable {
	color:white;
}

.AutoChessShopItemLabelColor_common {
	color:green;
}

.AutoChessShopItemLabelColor_rare {
	color:#1297F3;
}

.AutoChessShopItemLabelColor_epic {
	color:#A343C3;
}

.AutoChessShopItemLabelColor_artifact {
	color:#FFCC00;
}

.CommonButton{
	padding-left: 10px;
	padding-right: 10px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from(#4c5561), to(#6c7d88));
	wash-color: #74EAFE66;
	border: 1px solid;
	border-top-color: #aaaaaa77;
	border-left-color: #aaaaaa33;
	border-bottom-color: #333333;
	border-right-color: #404040;
	transition-property: wash-color;
	transition-duration: 0.12s;
	transition-delay: 0.0s;
	transition-timing-function: ease-in-out;
}

.CommonButton:hover {
	wash-color: #ffffff;
}

.CommonButton Label{
	color: white;
}