@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.OverthrowLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#OverthrowIcon
{
	width: 80px;
	height: 80px;
	vertical-align: center;
	margin-right: 15px;
}

#OverthrowTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 80px;
	color: #cccccc;
	text-shadow: 2px 2px 2px #000000;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#seq
{
    overflow: clip;
	pre-transform-scale2d: 1.35, 1.35;
}

@keyframes 'x' {}

#seq_bg
{
	animation-name: seq_bg_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
    margin-left: 0px;
}

@keyframes 'seq_bg_anim'
{
	0%
	{
	}

	100%
	{
	}
}

#seq_beastmaster_pets
{
	margin-left: 1015px;
	margin-top: 120px;
	animation-name: seq_beastmaster_pets_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_beastmaster_pets_anim'
{
	0%
	{
		transform: translateX( 50px ) translateY( 10px );
        pre-transform-scale2d: 0.90;
	}

	100%
	{
	}
}

#seq_beastmaster
{
	margin-left: 435px;
	margin-top: 140px;
	animation-name: seq_beastmaster_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_beastmaster_anim'
{
	0%
	{
		transform: translateX( 80px ) translateY( -20px );
	}

	100%
	{
	}
}

#seq_juggernaut
{
	margin-left: 400px;
	margin-top: 325px;
	animation-name: seq_juggernaut_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	pre-transform-scale2d: 0.90;
}

@keyframes 'seq_juggernaut_anim'
{
	0%
	{
		transform: translateX( 120px ) translateY( 20px );
	}

	100%
	{
	}
}

#seq_luna
{
	margin-left: 8px;
	margin-top: 0px;
	animation-name: seq_luna_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
	pre-transform-scale2d: 1.05;
}

@keyframes 'seq_luna_anim'
{
	0%
	{
		transform: translateX( 120px ) translateY( 50px );
	}

	100%
	{
	}
}

#seq_coins
{
	margin-left: -150px;
	margin-top: 200px;
	animation-name: seq_coins_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
}

@keyframes 'seq_coins_anim'
{
	0%
	{
		transform: translateX( 200px ) translateY( -100px );
	}

	100%
	{
	}
}

#ModeSelect
{
	margin-left: 45%;
	margin-right: 41.6%;
	width: 100%;
    height: 100%;
    background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
    animation-name: ModeSelectAppear;
	animation-duration: 5s;
}

@keyframes 'ModeSelectAppear'
{
	0%
	{
		transform: translatex( 100% );
	}

	50%
	{
		transform: translatex( 100% );
	}

	100%
	{
		transform: translatex( 0px );
	}
}

#ModeSelectTitle
{
	margin-bottom: 30%;
	vertical-align: center;
	horizontal-align:center;
	color: yellow;
	font-size: 40px;
}

#CorpsMode
{
	margin-bottom: 10%;
}

#CorpsModeForEntertainment
{
	margin-bottom: 0%;
}

#SoloMode
{
	margin-top: 10%;
}

#SoloModeForEntertainment
{
	margin-top: 20%;
	
}

.ModeSelectButton{
	vertical-align: center;
	horizontal-align:center;
	background-color: black;
	border: 5px;
}

.ModeSelectButton:hover{
	vertical-align: center;
	horizontal-align:center;
	background-color: gray;
}

.ModeSelectLabel
{
	font-size: 30px;
}

.ModeSelectSelected
{
	color: green;
}