.CustomUIState_EndScreen {
	width: 100%;
	height: 100%;
}

.CustomUIState_EndScreen Panel {
	width: 100%;
	height: 100%;
}


#EndScreen{
	background-color: black;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30%;
	margin-bottom: 20%;
	opacity: 0.95;
	background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #0000 ), color-stop(0.15, #000022dd), color-stop(0.85, #000022dd), color-stop(1.0, #00000000 ) );
	border-radius: 5px;
	padding: 8px;
	horizontal-align:center;
	width: 100%;
}

.EndScreenContent{
	font-size: 20px;
	horizontal-align:center;
	text-align: center;
	text-overflow: shrink;
	color: white;
	white-space: normal;
}

#EndScreenResult{
	margin-top: 5%;
	font-size: 60px;
	color:#FFCC00;
}

#EndScreenGameMode{
	margin-top: 20%;
	color:#FFCC00;
}

#EndScreenCurrentStage{
	margin-top: 25%;
}

#EndScreenNumberOfWins{
	margin-top: 30%;
	margin-right: 40%;
}

#EndScreenNumberOfLose{
	margin-top: 30%;
	color:red;
}

#EndScreenNumberOfDraw{
	margin-top: 30%;
	margin-left: 40%;
}

#EndScreenBossStageOfLose{
	margin-top: 35%;
	color:red;
}

#EndScreenMaxWinningStreak{
	margin-top: 40%;
}

#EndScreenMaxLosingStreak{
	margin-top: 45%;
	color:red;
}

#EndScreenCostTime{
	margin-top: 50%;
}

#EndScreenHeros{
	margin-top: 55%;
	color:#FFCC00;
}

#EndScreenCombinedArtifacts{
	margin-top: 90%;
	color:#FFCC00;
}