.GameInfo{
    width: 90%;
}
.GameInfoLabel{
    font-size: 20px;
    horizontal-align:center;
    text-align: center;
    text-overflow: shrink;
    color: white;
    white-space: normal;
}

#Title{
    width: 100%;
}

#TitleName{
    font-size: 50px;
    color: green;
}

#GameInfoIntroductionTitle{
    margin-top: 100px;
    font-size: 30px;
}

#GameInfoIntroduction{
    margin-top: 140px;
}

#GameInfoHowToPlayTitle{
    margin-top: 600px;
    font-size: 30px;
}

#GameInfoHowToPlay{
    margin-top: 640px;
    text-align: left;
}

#GameInfoGameProducer{
    margin-top: 900px;
}

#GameInfoContact{
    margin-top: 1000px;
    color: red;
}

#GameInfoThanksTitle{
    margin-top: 1100px;
    font-size: 30px;
}

#GameInfoThanks{
    margin-top: 1140px;
}

#GameInfoDonate{
    margin-top: 1300px;
    color: red;
}

#GameInfoDonateImage{
    margin-top: 1350px;
}

#GameInfoProfessonRoute{
    margin-top: 1940px;
}

#GameInfoProfessonRouteData{
    margin-top: 2000px;
}