#HintTextAreaPanel{
	width: 100%;
	z-index: 100;
}

#HintTextArea{
	background-color: black;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	margin-bottom: 30%;
	opacity: 0.95;
	background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #0000 ), color-stop(0.15, #000022dd), color-stop(0.85, #000022dd), color-stop(1.0, #00000000 ) );
	border-radius: 5px;
	padding: 8px;
	horizontal-align:center;
}

#HintTextAreaContent{
	margin-top: 18%;
	font-size: 30px;
	horizontal-align:center;
	vertical-align: center;
	text-align: center;
	text-overflow: shrink;
	color: #ffffff;
	white-space: normal;
	width: 1000px;
}