#QuestsPanel{
	margin-top: 5%;
	margin-bottom: 20%;
	margin-left: 80%;
	width: 20%;
	height: 100%;
}

#Quests{
	background-color: black;
	opacity: 0.95;
	background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #0000 ), color-stop(0.15, #000022dd), color-stop(0.85, #000022dd), color-stop(1.0, #00000000 ) );
	border-radius: 5px;
	padding: 8px;
	horizontal-align:center;
	width: 100%;
}

.QuestsContent{
	font-size: 20px;
	horizontal-align:center;
	text-align: center;
	text-overflow: shrink;
	color: white;
	white-space: normal;
	margin-left: 5%;
	margin-right: 5%;
}

#QuestsList{
	margin-top: 5%;
	font-size: 30;
}

#Quests1{
	margin-top: 10%;
}

#QuestsDescription1{
	margin-top: 15%;
}

#QuestsButton1{
	margin-top: 30%;
}

#Quests2{
	margin-top: 40%;
}

#QuestsDescription2{
	margin-top: 45%;
}

#QuestsButton2{
	margin-top: 60%;
}

#Quests3{
	margin-top: 70%;
}

#QuestsDescription3{
	margin-top: 75%;
}

#QuestsButton3{
	margin-top: 90%;
}

.QuestsButton{
	background-color: black;
}

.QuestsButton:hover{
	background-color: gray;
}