#Seller
{
	margin-left: 75%;
	margin-top: 80%;
	opacity: 0.95;
}

#ItemImage1
{
	
}

#ItemSellButton1
{
	margin-top: 15%;
	margin-left: 0%;
	opacity: 0.95;
}

#ItemImage2
{
	margin-top: 16%;
}

#ItemSellButton2
{
	margin-top: 15%;
	margin-left: 33%;
	opacity: 0.95;
}

#ItemImage3
{
	margin-top: 32%;
}

#ItemSellButton3
{
	margin-top: 15%;
	margin-left: 66%;
	opacity: 0.95;
}

#ItemImage4
{
	margin-top: 48%;
}

#ItemSellButton4
{
	margin-top: 50%;
	margin-left: 0%;
	opacity: 0.95;
}

#ItemImage5
{
	margin-top: 64%;
}

#ItemSellButton5
{
	margin-top: 50%;
	margin-left: 33%;
	opacity: 0.95;
}

#ItemImage6
{
	margin-top: 80%;
}

#ItemSellButton6
{
	margin-top: 50%;
	margin-left: 66%;
	opacity: 0.95;
}

.ItemSellButton{
	width: 160px;
}

.ItemSellButton:hover{
}

.ItemSellLabel{
	font-size: 30px;
	horizontal-align: center;
}