#ShareItemPanel{
	width: 100%;
	height: 100%;
}

#ShareItem {
	margin-top: 30%;
	margin-bottom: 20%;
	margin-left: 30%;
	margin-right: 30%;
	background-color: #000000cc;
	border-radius: 5px;
}

#ShareItemHint {
	margin-top: 10%;
	font-size: 35px;
    horizontal-align: center;
    color: white;
}

#ItemForShareItemHint{
	margin-top: 25%;
	margin-left: 20%;
	font-size: 30px;
	color: white;
}

#ShareItemSelect{
	margin-top: 35%;
	horizontal-align: center;
	font-size: 30px;
	color: white;
}

#PlayerForShareItemHint{
	margin-top: 50%;
	margin-left: 20%;
	font-size: 30px;
	color: white;
}

#TeamSelect{
	margin-top: 60%;
	horizontal-align: center;
	font-size: 30px;
}

#ConfirmShareItemButton{
	margin-left: 5%;
	margin-right: 45%;
}

#CancelShareItemButton{
	margin-left: 45%;
	margin-right: 5%;
}

.ShareItemButton{
	margin-top: 80%;
	horizontal-align: center;
}

.ShareItemButton:hover{
	margin-top: 80%;
	horizontal-align: center;
}

.ShareItemLabel{
	font-size: 30px;
}