#AutoChessShopPanel
{
	width: 100%;
	height: 100%;
}

#AutoChessShop{
	margin-top:30%;
	margin-left:20%;
	margin-right:20%;
	margin-bottom:25%;
	background-color:black;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}


.AutoChessShopImageSize{
	margin-top:5%;
	width:160px;
	opacity: 1.0;
}

.AutoChessShopItemNameLabel{
	margin-top:35%;
	font-size:20px;
	horizontal-align:center;
}

.AutoChessShopItemDescriptionLabel{
	margin-top:45%;
	font-size:15px;
	horizontal-align:center;
}

.AutoChessShopItemBuyButton{
	margin-top:80%;
	horizontal-align:center;
	opacity: 1;
}

.AutoChessShopItemBuyLabel{
	font-size:30px;
}

.AutoChessShopItem{
	height: 100%;
}

#AutoChessShopItem1{
	margin-left:3%;
}

#AutoChessShopItem2 {
	margin-left:19%;
}

#AutoChessShopItem3 {
	margin-left:35%;
}

#AutoChessShopItem4 {
	margin-left:51%;
}

#AutoChessShopItem5 {
	margin-left:67%;
}

#AutoChessShopItem6 {
	margin-left:83%;
}

#AutoChessShopButton{
	margin-top:78%;
	margin-left:35%;
	position:3% 20px 0px;
}

#ShareItemButton{
	margin-top:78%;
	margin-left:25%;
	position:3% 20px 0px;
}

#ShopConfigsButton{
	margin-top:78%;
	margin-left:15%;
	position:3% 20px 0px;
}

#AutoChessShopLabel{
	font-size:30px;
}

#ShareItemLabel{
	font-size:30px;
}
