#ShopConfigsPanel{
	width: 100%;
	height: 100%;
	horizontal-align:center;
}

#ShopConfigs{
	background-color: #000000cc;
	border-radius: 5px;
	margin-left: 0%;
	margin-right: 65%;
	margin-top: 30%;
	margin-bottom: 30%;
	horizontal-align:center;
}

#ShopConfigsTitle{
	margin-top: 10%;
	horizontal-align:center;
	color: white;
}

#ShopConfigsHint{
	margin-top: 20%;
	horizontal-align:center;
	color: white;
}

#ShopConfigsContent{
	flow-children: down;
	overflow: clip scroll;
	width: 100%;
	margin-top: 30%;
	margin-bottom: 30%;
	margin-left: 20%;
	margin-right: 20%;
}

.ShopConfigsLabel{
	font-size: 30px;
	color: white;
}

#ShopConfigsCostGoldLabel{
	margin-top: 40%;
	margin-left: 15%;
}

#ShopConfigsCostGold{
	margin-top: 50%;
	margin-left: 20%;
}

.ShopConfigsToggleButton{
	margin-left: 35%;
	flow-children: left;
	font-size: 20px;
}

.ShopConfigsButton {
}

.ShopConfigsButton:hover {
}

#ConfirmShopConfigsButton {
	margin-top: 80%;
	margin-left: 30%;
}

#CancelShopConfigsButton {
	margin-top: 80%;
	margin-left: 55%;
}
