#SingleSelectDialog{
	background-color: black;
	margin-left: 42%;
	margin-right: 40%;
	margin-top: 30%;
	margin-bottom: 30%;
	opacity: 0.95;
}

#SingleSelectDialogTitle{
	margin-top: 10%;
	horizontal-align:center;
}

#SingleSelectDialogHint{
	margin-top: 30%;
	horizontal-align:center;
}

#SingleSelectDialogSelect{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50%;
}

.SingleSelectDialogLabel{
	font-size: 30px;
}

#ConfirmSingleSelectDialogButton {
	margin-top: 80%;
	margin-left: 20%;
}

#CancelSingleSelectDialogButton {
	margin-top: 80%;
	margin-left: 60%;
}
