#StagePanel {
	width: 100%;
	height: 100%;
}

#StageStatusPanel{
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
	margin-bottom: 75%;
	horizontal-align: center;
	background-color: #000000cc;
	border-radius: 5px;
}

#StageLabel{
	margin-left: 15%;
	margin-top: 15%;
	color: white;
	font-size: 32px;
}

#Stage{
	margin-left: 35%;
	margin-top: 15%;
	color: white;
	font-size: 32px;
}

.StageMessage{
	margin-left: 15%;
	margin-top: 45%;
	color: white;
	font-size: 32px;
}

#Time{
	margin-left: 30%;
	margin-top: 70%;
	color: white;
	font-size: 32px;
}

#EndBattleButton{
	margin-top:20%;
	margin-left:70%;
	position:3% 20px 0px;
}

#EndBattleButton:hover{
	margin-top:20%;
	margin-left:70%;
	position:3% 20px 0px;
}

#PrepareOverButton{
	margin-top:50%;
	margin-left:70%;
	position:3% 20px 0px;
}

#SPrepareOverButton:hover{
	margin-top:50%;
	margin-left:70%;
	position:3% 20px 0px;
}

#PrepareOverLabel{
	font-size:30px;
}
