#StatusPanel
{
	height: 100%;
	width: 100%;
}

#Status
{
	margin-left: 5%;
	margin-right: 65%;
	margin-top: 5%;
	margin-bottom: 75%;
	background-color:black;
	background-color: #000000cc;
	border-radius: 5px;
}

.StatusLabel
{
    font-size: 32px;
	color: white;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

#GoldLabel
{
	margin-left: 10%;
	margin-top: 10%;
}

#Gold
{
	margin-left: 35%;
	margin-top: 10%;
}

#HealthLabel
{
	margin-left: 10%;
	margin-top: 30%;
}

#Health
{
	margin-left: 35%;
	margin-top: 30%;
}

#MaintenanceLabel
{
	margin-left: 10%;
	margin-top: 50%;
}

#Maintenance
{
	margin-left: 40%;
	margin-top: 50%;
}

#HeroCountLabel
{
	margin-left: 30%;
	margin-top: 70%;
}

#HeroCount
{
	margin-left: 55%;
	margin-top: 70%;
}

#WinningStreakLabel
{
	margin-left: 55%;
	margin-top: 10%;
}

#WinningStreak
{
	margin-left: 80%;
	margin-top: 10%;
}